.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.foonter-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.foonter-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.foonter-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

@media (max-width: 1200px){
    html {
        font-size: 50%;
    }
}

@media (max-width: 991px){
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
