<section class="about" id="about">

    <h3 class="heading">About <span>Me</span></h3>
    <p>Hi, I'm <strong>Biswajit Shaw</strong>, an Angular developer with a strong passion for creating interactive and
        user-friendly web applications.</p>
    <div class="profile">
        <div class="about-img">
            <img src="assets\image\potfolio.jpg" alt="">
        </div>
        <div class="about-content">
            <h2>Software Development Engineer (Frontend)</h2>
            <p>If you are looking for a dedicated Software Development Engineer (Frontend) who can transform your ideas
                into visually stunning and
                user-friendly interfaces. Let's work together to create impactful experiences that leave a lasting
                impression.</p>
            <div class="profile-details">
                <div class="row">
                    <li><i class="fa-solid fa-chevron-right"></i><strong> Degree:</strong> MCA (Pursing)</li>
                    <li><i class="fa-solid fa-chevron-right"></i><strong> Phone:</strong> +91 9748623974</li>
                    <li><i class="fa-solid fa-chevron-right"></i><strong> Freelance:</strong> Available</li>
                    <li><i class="fa-solid fa-chevron-right"></i><strong> Email:</strong>wbiswajit20001&#64;gmail.com</li>
                    <li><i class="fa-solid fa-chevron-right"></i><strong> City:</strong> Bengaluru, Karnataka</li>
                </div>
            </div>
            <p class="quote">"Web development is my passion, my playground, and my endless source of curiosity. There's
                always something new to learn and explore."</p>
        </div>
    </div>

</section>