<section class="resume" id="Resume">
    <h2 class="heading">My <span>Resume</span></h2>
    <div class="bio">
        <p>As a Software Development Associate, I build dynamic web applications using Angular and Node.js, delivering
            quality solutions and embracing new technologies.</p>
    </div>


    <div class="details-container">
        <div class="resume-box">
            <h1 class="topic">EDUCATION</h1>

            <span class="date">June 2024 – Present</span>
            <div class="name">
                <div>LOVELY PROFESSIONAL UNIVERSITY</div>
                <div class="quote">(ONLINE)</div>
            </div>
            <div class="position">MASTER OF COMPUTER APPLICATIONS IN COMPUTER SCIENCE</div>
            <br>
            <span class="date">June 2021 – May 2024</span>
            <div class="name">
                <div>HINDUSTAN INSTITUTE OF TECHNOLOGY & SCIENCE</div>
                <div class="quote">(CHENNAI)</div>
            </div>
            <div class="position">BACHELOR OF COMPUTER APPLICATIONS IN COMPUTER SCIENCE </div>
            <br>
            <span class="date">MAY 2021</span>
            <div class="name">
                <div>LMET INTERNATIONAL SCHOOL</div>
                <div class="quote">(KOLKATA)</div>
            </div>
            <div class="position">COMMERCE</div>
        </div>






        <div class="resume-box">
            <h2 class="topic">EXPERIENCE</h2>
            <span class="date">November 2024 - Present</span>
            <div class="name">
            <div>FINCH PRODUCTS AND SERVICES</div>
            <div class="quote">(BENGALURU)</div>
            </div>
            <div class="position">INTERNSHIP</div>
            <p>
                Developed and maintained dynamic web applications with Angular and JavaScript, enhancing user
                experience. Implemented server-side logic and RESTful APIs using Node.js, ensuring reliable,
                high-quality, and bug-free code through comprehensive testing.</p>
            <br>
            <div class="position">PROJECTS</div>
            <ul class="paragraph">
                <p>
                    On the CCMS project, I focused on backend development using Angular and Node.js, improving database
                    integration, API development, and system performance. The application streamlined case
                    administration, offering quick case retrieval, appeal tracking, and an active cases dashboard. </p>
                <br>
                <p>for the FIMS project, I handled frontend development with Angular, enhancing the user interface,
                    improving responsiveness, fixing bugs, and ensuring cross-browser compatibility while integrating
                    APIs with the Python backend team for smoother data flow. </p>
            </ul>
        </div>
    </div>
    <div class="download">
        <a href="https://drive.google.com/file/d/1rkKmJfx19VRUEXbhlcKVOr1gdjJOHKAP/view?usp=drive_link" target="_blank"
            class="btn">Download CV</a>

    </div>



    <!-- <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center ftco-animate">
            <p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
        </div>
    </div> -->
</section>