<section class="services" id="services">
    <h2 class="heading">MY <span>Services</span></h2>
    <div class="services-container">
        <div class="services-box">
            <i class="fa-solid fa-code"></i>
            <h3>Web Development</h3>
            <p>As a Web Developer, I specialize in front-end development using Angular and JavaScript to build dynamic, responsive web applications. I have experience integrating back-end systems using Node.js, ensuring cross-browser compatibility, and optimizing the overall user experience.</p>
        </div>

        <div class="services-box">
            <i class="fa-solid fa-palette"></i>
            <h3>UI/UX Designing</h3>
            <p>I am skilled as a UI/UX Designer, where I design intuitive user interfaces and enhance user experiences through research, wireframing, prototyping, and usability testing. My focus is always on creating user-centered designs that promote engagement and satisfaction.</p>
        </div>

        <div class="services-box">
            <i class="fa-solid fa-gear"></i>
            <h3>API Development</h3>
            <p>I  have expertise as an API Developer, designing and developing secure, scalable RESTful APIs that integrate front-end and back-end systems. I’m proficient in API documentation and ensuring smooth, efficient data handling using technologies like Node.js and Python.</p>
        </div>

    </div>
</section>