<header class="header">
    <a href="#" class="logo">portfolio</a>
    <i class="fa-solid fa-bars" id="menu-icon"></i>
    <nav class="navbar">
        <a href="#home" class="active">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#services">SERVICES</a>
        <a href="#Resume">RESUME</a>
        <a href="#contact">CONTACT</a>
    </nav>
</header>

<section class="home" id="home">
    <div class="home-content">
        <h3>Hi, Myself</h3> 
        <h1>Biswajit Shaw</h1>
        <h3>And I`m a <span #multipleText class="multiple-text"></span></h3>
        <p>I am  a software development associate skilled in Angular, JavaScript, and Node.js, excels in agile methodologies and quality code.I driven by continuous learning and contributes to impactful web application projects</p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/biswajit-shaw/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/your__chiku/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100015124088497" target="_blank"><i class="fa-brands fa-meta"></i></a>
            <a href="https://github.com/Biswajit-shaw" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://x.com/BiswajitSh42581" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <a href="https://drive.google.com/file/d/1rkKmJfx19VRUEXbhlcKVOr1gdjJOHKAP/view?usp=drive_link" target="_blank" class="btn">Download CV</a>
    </div>

    <div class="home-img">
        <img src="assets\image\IMG_20241113_185910-fotor-20241113192816.jpg" alt="">
    </div>
</section>